.container {
    position: relative;
    height: 140px;
    display: flex;
    justify-content: space-between;
}

.text {
    position: absolute;
    right: auto;
    left: 0;
    width: 147px;
    height: 100%;
    background-color: #F5F5F7;
    z-index: 10;
}

.image {
    position: absolute;
    right: 0;
    left: auto;
    z-index: 5;
}

.saleAmount {
    width: 60px;
    height: 24px;
    font-size: 15px;
    font-weight: 700;
    color: #2E2E33;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDC38;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -moz-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.saleDescription {
    margin-top: 23px;
    margin-left: 19px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #2E2E33;
}

.saleButton {
    margin-top: 10px;
    margin-left: 19px;
    font-size: 11px;
    font-weight: 500;
    color: #2E2E33;
    // opacity: 50%;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 10;
}

.circle {
    position: absolute;
    top: 101px;
    left: 59px;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    opacity: 80%;
    border-radius: 50%;
    z-index: -1;
}